<div class="container__smal-card">
    
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnnGJFVh0fs9gvWTV_7K5erTxtur4OXft0Pw&s"
            alt=""
            srcset=""
            >
        </div>
        <div class="small-card__title">
            <h1><a href="#">Saiu a nova versão do Angular</a></h1>
        </div>
    </div>

    <div class="container__small-card__separator">
        <hr>
    </div>
</div>